<a href="https://colab.research.google.com/github/JaimeOcean/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
# Lets take a look at the Ames Iowa Housing Dataset :
source_url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'

In [0]:
Iowa = pd.read_csv(source_url)

In [0]:
# first few rows
Iowa.sample(5)

In [0]:
# Shape
Iowa.shape

In [0]:
Iowa.describe()

In [0]:
# describe 2
Iowa['YearBuilt'].describe()

In [0]:
# describe 3
Iowa[['YearBuilt','MSSubClass']].describe()

In [0]:
# column types
# pd.set_option('display.max_rows',100)
Iowa.dtypes

In [0]:
# colum types 2
pd.set_option('display.max_rows',100)
Iowa.dtypes

In [0]:
# colum types 3
pd.set_option('display.max_rows', 100)
Iowa.dtypes[:5]

In [0]:
# Look at the first ten rows of the 'BedroomAbvGr' column.
# Looks like integers to me:
Iowa['BedroomAbvGr'].dtype

In [0]:
# Another way to call columns: dot method
Iowa.Fireplaces.sample(4)

In [0]:
# Another way to call columns: dot menthod 2 , bracket format
Iowa['Fireplaces'].sample(4)

In [0]:
# Cont... Two columns 3
Iowa[['Fireplaces','BedroomAbvGr']].sample(4)

In [0]:
# Look at the first ten rows of the 'LotFrontage' column.
Iowa['LotFrontage'].head()

In [0]:
# Cont... value
Iowa['LotFrontage'].value_counts()

In [0]:
# Cont... missing value
Iowa['LotFrontage'].value_counts(dropna=False)

In [0]:
# Nan is the most common value in this column, What is a NaN -not a number-
import numpy as np
np.nan

In [0]:
# What is the datatype of NaN?
type(np.nan)

In [0]:
# How much data missing
Iowa['LotFrontage'].isnull()

In [0]:
# Cont... sum
Iowa['LotFrontage'].isnull().sum()

In [0]:
# How Big
Iowa.shape

In [0]:
# drop missing data
Iowa['LotFrontage'].dropna(inplace=True)

In [0]:
Iowa['LotFrontage'].isnull().sum()

In [0]:
# MAKING NEW FEATURES
# I can make smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
small=Iowa[['TotalBsmtSF','1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
small.sample(3)

In [0]:
# SYNTAX for creating new columns
# Lets add up all of the square footage to get a single square footage
# Column for the entire dataset
# Using bracket syntax to make a new 'TotalSquareFootage' column
small['TotalSF'] = small['TotalBsmtSF'] + small['1stFlrSF'] + small['2ndFlrSF']
small.head()

In [0]:
# Lets make another new column that is 'PricePerSqFt' by dividing the price by the square footage
small['PricePerSF'] = small['SalePrice'] / small['TotalSF']
small.sample(5)

In [0]:
# Cont... In summary: SF price varies and House579 has more SF than House501 and is almost a third of the price

In [0]:
## Crosstabs
# Focus on categorical
Iowa.columns

In [0]:
# What are some categorical columns?
Iowa[['LotShape', 'Alley','Street','SaleCondition']].sample(5)

In [0]:
# Values of the sale condition
Iowa['SaleConditon'].value_counts()

In [0]:
# Create a new categorical condition (creating new variable)
Iowa['NormalCondition'] = np.where(Iowa['SaleCondition']== 'Normal', "yes", "no")
Iowa['NormalCondition'].value_counts()

In [0]:
# Value counts of categorical variable
Iowa['LotShape'].value_counts()

In [0]:
# Map this from four down to 3 value
Iowa['LotShape3'] = Iowa['LotShape'].map({'Reg':'Regular',
                                          'IR1':'Irregular',
                                          'IR2':'Other',
                                          'IR3':'Other'})
Iowa['LotShape3'].valuecounts()

In [0]:
# Value counts of categorical variable
Iowa['Neighborhood'].value_counts()

In [0]:
# Third way using .loc
Iowa['top_neighbors']='All Others'
Iowa[['top_neighbors','Neighborhood']].head()

In [0]:
# Step 2: remap just the ones I want: using.loc
Iowa.loc[Iowa['Neighborhood']=='NAmes', 'top_neighbors']=='North Ames'
Iowa[['top_neighbors','Neighborhood']].head()

In [0]:
# Step 2: remap just the ones I want: using.loc
Iowa.loc[Iowa['Neighborhood']=='NAmes', 'top_neighbors']='North Ames'
Iowa[['top_neighbors','Neighborhood']].sample(10)

In [0]:
# Do this multiple times if needed

In [0]:
# Step 2: remap just the ones I want: using.loc
Iowa.loc[Iowa['Neighborhood']=='CollgCr', 'top_neighbors']='College Circle'
Iowa[['top_neighbors','Neighborhood']].sample(10)

In [0]:
Iowa['top_neighbors'].value_counts()

In [0]:
# Step 2: remap just the ones I want: using.loc
Iowa.loc[Iowa['Neighborhood']=='CollgCr', 'top_neighbors']='College Circle'
Iowa.loc[Iowa['Neighborhood']=='Gilbert', 'top_neighbors']='Favorite Neighborhood'
Iowa.loc[Iowa['Neighborhood']=='Somerst', 'top_neighbors']='Favorite Neighborhood'
Iowa[['top_neighbors','Neighborhood']].sample(10)

In [0]:
Iowa['top_neighbors'].value_count()

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'])

In [0]:
# Adding Margins

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], margins=True)

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], margins=True)

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], margins=True)

In [0]:
# Proportions

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], normalize='index')

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], normalize='index', margins=True)

In [0]:
# Crosstab
pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape3'], normalize='columns', margins=True)

In [0]:
# Display
myresults = pd.crosstab(Iowa['top_neighbors'], Iowa['LotShape'])
myresults.plot(kind='bar');

In [0]:
pd.crosstab(Iowa['OverallQual'], Iowa['top_neighbors'])

In [0]:
# Flip that
myresults.plot(kind='barh');

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
!unzip LoanStats_2018Q4.csv.zip

In [0]:
# Read in the cvs
loans = pd.read_csv('LoanStats_2018Q4.csv')
loans.head()

In [0]:
loans = pd.read_csv('LoanStats_2018Q4.csv')
loans.tail()

In [0]:
# we can fix header problem by using the 'skiprows' parameter
loans = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
loans.head()

In [0]:
loans.tail()

In [0]:
## NaN values
# Sum null values by column and sort from least to greatest
pd.set_option('display.max_rows', 100)
loans.isnull().sum()

In [0]:
pd.set_option('display.max_rows', 1000)
loans.isnull().sum().sort_values(ascending=False)

In [0]:
loans.tail()

In [0]:
loans.shape

In [0]:
pd.set_option('display.max_rows', 144)
loans.isnull().sum()

In [0]:
# Drop an entire column
loans.drop('url',axis=1, inplace=True)

In [0]:
loans.tail()

In [0]:
loans.shape

In [0]:
# Look at the first 10 values of the int_rate column
loans['int_rate'].head(10)

In [0]:
loans['int_rate'][3]

In [0]:
# confirm that
loans['int_rate'].dtype

In [0]:
# Confirm again
type(loans['int_rate'][3])

In [0]:
# String problem that should be numeric
# Percent sign % included with the number
# Leading space at the beginning of the string

In [0]:
# Fixing single string -if we can fix one, usually we can fix all of them
int_rate = ' 14.47%'

In [0]:
# remove leading space - python -
int_rate.strip()

In [0]:
# remove the percent
int_rate.strip('%')

In [0]:
# remove both
int_rate.strip().strip('%')

In [0]:
# "Cast" the string value to a float
float('14.47')

In [0]:
# put all together
float(int_rate.strip().strip('%'))

In [0]:
# check your work
type(float(int_rate.strip().strip('%')))

In [0]:
# write a function that can do what we have written above to any string that is passed to it.
def myfunc(my_input_value):
    return float(my_input_value.strip().strip('%'))

In [0]:
# testt out our function by calling it on our examples
myfunc(int_rate)

In [0]:
# is the data type correct?
type (myfunc(int_rate))

In [0]:
## Apply our solution to every cell in a column
# for loop:
new_list=[]
for cell in loans['int_rate']:
  new_list.append(myfunc(cell))
# look at first 10 values of that list:
new_list[:10]
# compare to original value
loans['int_rate'].head()
list(loans['int_rate'][:10])
# convert that list to a new column (not a list:)
loans['int_rate_clean']=pd.Series(new_list)
# comparision
loans[['int_rate','int_rate_clean']].sample(7)
# convert that list to a new column (not a list:)
loans['int_rate_clean'].dtype
# what type of data is held in our new column?

In [0]:
### THERE IS A BETTER WAY
## Improve all of this code with the .apply function:
loans['int_rate_clean2'] = loans['int_rate'].apply(myfunc)

In [0]:
#  COMPARISON
loans[['int_rate','int_rate_clean','int_rate_clean2']].sample(7)

In [0]:
# .apply()
# First we will try and diagnose how bad the problem is and what improvements we might able to make
# look at the top 20 rows
loans['emp_title'].head(20)

In [0]:
# look at the top 20 employment titles
loans['emp_title'].value_counts(dropna=False).head(20)

In [0]:
# How many different unique employment titles are there currently?
loans['emp_title'].unique()

In [0]:
len(loans['emp_title'].unique())

In [0]:
print(loans.shape)

In [1]:
# Another say to do this
loans['emp_title'].nunique()

NameError: ignored

In [3]:
# How often is the employment_title null?
loans['emp_title'].isnull().sum()

NameError: ignored

In [4]:
# Create some examples that represent the cases that we want to clean up
examples = ['owner','Supervisor',' Project Manager', np.nan]

NameError: ignored

In [5]:
# do that same function in individual steps
type('Supervisor')

str

In [6]:
isinstance('Supervisor', str)

True

In [7]:
# what about the strip
'supervisor'.title().strip()

'Supervisor'

In [0]:
# write a function to clean up these use cases and increase uniformity.
def clean_title(jobtitle):
  if isinstance(jobtitle, str):
   return (jobtitle.title().strip())
  else:
   return 'Unknown'

In [12]:
# test our function
clean_title('superviSOR')
clean_title(np.nan)

NameError: ignored

In [13]:
# create a for loop:
mylist = []
for jobtitle in examples:
  mylist.append(clean_title(jobtitle))
  mylist

NameError: ignored

In [14]:
#list comprehensions can combine function calls and for loops over lists
# into one succint and fairly readable single line of code.
[clea_title(jobtitle) for jobtitle in examples]

NameError: ignored

In [15]:
# we have a function that works as expected. Lets apply it to our column.
# This time we will overwrite the original column
loans['clean_title'] = loans['emp_title'].apply(clean_title)

NameError: ignored

In [16]:
loans[['emp_title','clean_title']].head()

NameError: ignored

In [17]:
loans[['emp_title','clean_title']].sample(20)

NameError: ignored

In [18]:
# look at the top 20 employment titles
loans.head()

NameError: ignored

In [19]:
loans.columns

NameError: ignored

In [20]:
loans['issue_d'].head()

NameError: ignored

In [21]:
# as a for loop
mylist = []
for col in loans.columns:
  if col.endwith('_d'):
    mylist.append(col)

NameError: ignored

In [22]:
# as a list comprehension
my_date_cols = [col for col in loans.columns if col.endwith('_d')]
my_date_cols

NameError: ignored

In [23]:
# dtype
type(loans['issue_d'][0])

NameError: ignored

In [24]:
#infer_datetime_format=True
loans['new_issue-d'] = pd.to_datetime(loans['issue_d'], infe_datetime_format=True)

NameError: ignored

In [26]:
loans(['issue_d', 'new_issue_d']).head()

NameError: ignored

In [28]:
#check our work
type(loans('new_issue_d')[3])

NameError: ignored

In [29]:
loans['new_issue_d'].dtype

NameError: ignored

In [30]:
print(loans['new_issue_d'].dtype)

NameError: ignored

In [31]:
loans['new_issue_d'].head().values

NameError: ignored

In [32]:
# create new feature/variable
loans['year'] = loans['new_issue_d'].dt.year
loans[['issue_d','new_issue_d','year']].head()

NameError: ignored

In [0]:
# now month

In [33]:
# create new feature/variable
loans['month'] = loans['new_issue_d'].dt.year
loans[['issue_d','new_issue_d','month']].head()

NameError: ignored

In [34]:
# create new feature/variable
loans['weekday'] = loans['new_issue_d'].dt.year
loans[['issue_d','new_issue_d','year','month'.'weekday']].head()

SyntaxError: ignored

In [0]:
# same... sample(10)

In [35]:
# try different variable
loans['new_pull'] = pd.to_datetime(loans['last_credit_pull_d'])
loans['month_pul'] = loans['new_issue_d'].dt.year
loans[['last_credit_pull_d','new_pull','month_pull']].head(

SyntaxError: ignored

In [36]:
#date arithmetic
loans['day_diff'] = loans['new_issue_d'] - loans['new_pull']

NameError: ignored

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01