<a href="https://colab.research.google.com/github/JaimeOcean/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Hwk_7_21_22_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [17]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
cars = Path.cwd()
print(cars)

/content

In [18]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data | wc
! ls

--2020-07-23 01:48:37--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.07s

2020-07-23 01:48:38 (379 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

      0       0       0
imports-85.data  imports-85.data.1  sample_data

In [19]:
col_names = ['symbol', 'n_l', 'make', 'fuel', 'aspiration', 'doors', 'body', 'drive', 'eng_loc', 'wheel', 'lenght', 'width', 'height', 'curb-weight', 'eng_type', 'cil', 'eng_size', 'fuel_sys', 'bore', 'stroke', 'compression', 'hp', 'rpm', 'mpg', 'hmpg', 'price']

In [55]:
cars = pd.read_csv ('imports-85.data.1', header=None, names=col_names)

In [56]:
cars.head()

   symbol  n_l         make fuel aspiration  ...   hp   rpm mpg hmpg  price
0       3    ?  alfa-romero  gas        std  ...  111  5000  21   27  13495
1       3    ?  alfa-romero  gas        std  ...  111  5000  21   27  16500
2       1    ?  alfa-romero  gas        std  ...  154  5000  19   26  16500
3       2  164         audi  gas        std  ...  102  5500  24   30  13950
4       2  164         audi  gas        std  ...  115  5500  18   22  17450

[5 rows x 26 columns]

In [29]:
cars.isnull().sum()

symbol         0
n_l            0
make           0
fuel           0
aspiration     0
doors          0
body           0
drive          0
eng_loc        0
wheel          0
lenght         0
width          0
height         0
curb-weight    0
eng_type       0
cil            0
eng_size       0
fuel_sys       0
bore           0
stroke         0
compression    0
hp             0
rpm            0
mpg            0
hmpg           0
price          0
dtype: int64

In [30]:
print(cars.index)
print(cars.shape)
print(cars.dtypes)

RangeIndex(start=0, stop=205, step=1)
(205, 26)
symbol           int64
n_l             object
make            object
fuel            object
aspiration      object
doors           object
body            object
drive           object
eng_loc         object
wheel          float64
lenght         float64
width          float64
height         float64
curb-weight      int64
eng_type        object
cil             object
eng_size         int64
fuel_sys        object
bore            object
stroke          object
compression    float64
hp              object
rpm             object
mpg              int64
hmpg             int64
price           object
dtype: object

In [31]:
cars.describe()

           symbol       wheel      lenght  ...  compression         mpg        hmpg
count  205.000000  205.000000  205.000000  ...   205.000000  205.000000  205.000000
mean     0.834146   98.756585  174.049268  ...    10.142537   25.219512   30.751220
std      1.245307    6.021776   12.337289  ...     3.972040    6.542142    6.886443
min     -2.000000   86.600000  141.100000  ...     7.000000   13.000000   16.000000
25%      0.000000   94.500000  166.300000  ...     8.600000   19.000000   25.000000
50%      1.000000   97.000000  173.200000  ...     9.000000   24.000000   30.000000
75%      2.000000  102.400000  183.100000  ...     9.400000   30.000000   34.000000
max      3.000000  120.900000  208.100000  ...    23.000000   49.000000   54.000000

[8 rows x 10 columns]

In [32]:
print(cars.shape)

(205, 26)

In [57]:
cars.dropna()

     symbol  n_l         make    fuel aspiration  ...   hp   rpm mpg hmpg  price
0         3    ?  alfa-romero     gas        std  ...  111  5000  21   27  13495
1         3    ?  alfa-romero     gas        std  ...  111  5000  21   27  16500
2         1    ?  alfa-romero     gas        std  ...  154  5000  19   26  16500
3         2  164         audi     gas        std  ...  102  5500  24   30  13950
4         2  164         audi     gas        std  ...  115  5500  18   22  17450
..      ...  ...          ...     ...        ...  ...  ...   ...  ..  ...    ...
200      -1   95        volvo     gas        std  ...  114  5400  23   28  16845
201      -1   95        volvo     gas      turbo  ...  160  5300  19   25  19045
202      -1   95        volvo     gas        std  ...  134  5500  18   23  21485
203      -1   95        volvo  diesel      turbo  ...  106  4800  26   27  22470
204      -1   95        volvo     gas      turbo  ...  114  5400  19   25  22625

[205 rows x 26 columns]

In [47]:
cars.dropna(inplace=True)

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [65]:
cars.sample(10)

     symbol  n_l           make    fuel aspiration  ...   hp   rpm mpg hmpg  price
184       2   94     volkswagen  diesel        std  ...   52  4800  37   46   7995
154       0   81         toyota     gas        std  ...   62  4800  27   32   7898
153       0   77         toyota     gas        std  ...   62  4800  31   37   6918
190       3  256     volkswagen     gas        std  ...   90  5500  24   29   9980
23        1  118          dodge     gas      turbo  ...  102  5500  24   30   7957
136       3  150           saab     gas      turbo  ...  160  5500  19   26  18150
50        1  104          mazda     gas        std  ...   68  5000  30   31   5195
72        3  142  mercedes-benz     gas        std  ...  155  4750  16   18  35056
66        0    ?          mazda  diesel        std  ...   72  4200  31   39  18344
147       0   89         subaru     gas        std  ...   94  5200  25   31  10198

[10 rows x 26 columns]

In [66]:
cars.sample(10, random_state=30)

     symbol  n_l           make fuel aspiration  ...   hp   rpm mpg hmpg  price
121       1  154       plymouth  gas        std  ...   68  5500  31   38   6692
176      -1   65         toyota  gas        std  ...   92  4200  27   32  10898
24        1  148          dodge  gas        std  ...   68  5500  31   38   6229
88       -1  137     mitsubishi  gas        std  ...  116  5500  23   30   9279
72        3  142  mercedes-benz  gas        std  ...  155  4750  16   18  35056
103       0  108         nissan  gas        std  ...  152  5200  19   25  13499
26        1  148          dodge  gas        std  ...   68  5500  31   38   7609
20        0   81      chevrolet  gas        std  ...   70  5400  38   43   6575
155       0   91         toyota  gas        std  ...   62  4800  27   32   8778
185       2   94     volkswagen  gas        std  ...   85  5250  27   34   8195

[10 rows x 26 columns]

In [68]:
cars['hmpg'].mean

<bound method Series.mean of 0      27
1      27
2      26
3      30
4      22
       ..
200    28
201    25
202    23
203    27
204    25
Name: hmpg, Length: 205, dtype: int64>

In [72]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp

In [74]:
ttest_1samp(cars['hmpg'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=62.89626439741857, pvalue=1.558828234616256e-135)

In [75]:
ttest_1samp(cars['hmpg'], .9, nan_policy='omit')

Ttest_1sampResult(statistic=62.064611784246225, pvalue=2.0596734934620697e-134)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [104]:
cars['mpg'].mean()

25.21951219512195

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
### YOUR WORK HERE

In [77]:
cars.sample(100, random_state=30)

     symbol  n_l           make    fuel aspiration  ...   hp   rpm mpg hmpg  price
121       1  154       plymouth     gas        std  ...   68  5500  31   38   6692
176      -1   65         toyota     gas        std  ...   92  4200  27   32  10898
24        1  148          dodge     gas        std  ...   68  5500  31   38   6229
88       -1  137     mitsubishi     gas        std  ...  116  5500  23   30   9279
72        3  142  mercedes-benz     gas        std  ...  155  4750  16   18  35056
..      ...  ...            ...     ...        ...  ...  ...   ...  ..  ...    ...
189       3    ?     volkswagen     gas        std  ...   90  5500  24   29  11595
192       0    ?     volkswagen  diesel      turbo  ...   68  4500  33   38  13845
171       2  134         toyota     gas        std  ...  116  4800  24   30  11549
203      -1   95          volvo  diesel      turbo  ...  106  4800  26   27  22470
47        0  145         jaguar     gas        std  ...  176  4750  15   19  32250

[100 rows x 26 columns]

In [103]:
cars['hmpg'].mean()

30.75121951219512

In [105]:
ttest_1samp(cars['hmpg'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=62.89626439741857, pvalue=1.558828234616256e-135)

In [ ]:
#same results

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [82]:
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-23 02:59:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-07-23 02:59:04 (278 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [89]:
df = pd.read_csv ('house-votes-84.data', header=None)

In [90]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [91]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
df = pd.read_csv('house-votes-84.data', 
                 header=None, 
                 names=column_headers,
                 na_values= ' ?')

In [92]:
df = df.replace({'y': 1, 'n': 0})
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   0             1  ...     1         0            1
1  republican                   0             1  ...     1         0            ?
2    democrat                   ?             1  ...     1         0            0
3    democrat                   0             1  ...     0         0            1
4    democrat                   1             1  ...     1         1            1

[5 rows x 17 columns]

In [93]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [94]:
rep = df[df['party']=='republican']
rep.head()

         party handicapped-infants water-project  ... crime duty-free south-africa
0   republican                   0             1  ...     1         0            1
1   republican                   0             1  ...     1         0            ?
7   republican                   0             1  ...     1         ?            1
8   republican                   0             1  ...     1         0            1
10  republican                   0             1  ...     1         0            0

[5 rows x 17 columns]

In [95]:
dem = df[df['party']=='democrat']
dem.head()

      party handicapped-infants water-project  ... crime duty-free south-africa
2  democrat                   ?             1  ...     1         0            0
3  democrat                   0             1  ...     0         0            1
4  democrat                   1             1  ...     1         1            1
5  democrat                   0             1  ...     1         1            1
6  democrat                   0             1  ...     1         1            1

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [106]:
rep['handicapped-infants'].sum()/len(rep)

TypeError: ignored

In [101]:
col = rep['handicapped-infants']

np.isnan(col)

handicapped_infants_no_nans = col[~np.isnan(col)]

# The same column as before, but I've dropped the NaN values
handicapped_infants_no_nans

handicapped_infants_no_nans.sum()/len(handicapped_infants_no_nans)

TypeError: ignored

In [102]:
rep['handicapped-infants'].mean()

TypeError: ignored

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE